* {
  font-family: 'Roboto', sans-serif;
}

html, body {
  background-image: url('./img/fergie-bg-4.png');
  background-position: center;
  background-size: 1366px; /* Because my screen is bigger than yours, the background looks weird. Would be a good idea to fix this */
  /* background-color: darkgray; */
} 

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #df914e;
  color: white;
  text-align: center;
} 

.btn {
  color: #ff9900;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

