.btn {
  background: 0 0;
  border: none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  height: 36px;
  letter-spacing: 0;
  line-height: 36px;
  margin: 0;
  min-width: 64px;
  overflow: hidden;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1), background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  transition: all 300ms ease;
  vertical-align: middle;
  will-change: box-shadow;
}
